/** Contato **/
.contato input,
.contato button {
  display: block;
}

form {
  margin: 0 auto;
  width: 50%;

  @media #{$mqMobile}{
    width: auto;
  }
}

.contato input,
textarea {
  width: 100%;
  margin-bottom: .8em;
  padding: 4px 8px;
  @include bordaArredondada;
  border: 2px solid #ccc;
}

.contato button {
  margin: 0 auto;
  background: $cor-padrao;
  border: 0;
  color: $corbranca;
  width: 210px;
  height: 38px;
  font-size: 1.2em;
  @include bordaArredondada;
  @extend %sombraPadrao;
}
