//Mixins sass (chamadas com @include nomeMixin)
@mixin bordaArredondada($raio: 0.3em) {
  -webkit-border-radius: $raio;
  border-radius: $raio;
}

//Função chamada com -> propriedadeX: nomeFunc(argumento)
@function multiplicaPelaFonte($multiplicador){
  //    Arredondador
  @return round($multiplicador * $tamanhoDaFontePadrao);
}

//Placeholders (Chamados com @extend %nomePlaceholder)
%substituiImagem {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

%sombraPadrao {
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}
